# Env / Secrets
.env
.env.*
*.json
*.pem
*.p12
*.key

!package.json
!package-lock.json
!tsconfig.json

# Docker
docker-compose.dev.yml
docker-compose.stage.yml
.docker/
volumes/

# Node / Frontend
node_modules/
dist/
build/
.next/
out/
.turbo/
.vercel/

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/

# Logs
*.log

# OS / IDE
.DS_Store
.vscode/
.idea/
